

            <h2>ITEMS PEDIDO</h2>


{% if messages %}
{% for message in messages %}
<div id="alert" class="alert alert-{{message.tags}}" role="alert">

    {{ message }}
</div>


{% endfor %}
{% endif %}
            {% for pedido in pedidos %}

            <table class='table table-striped table-inverse table-responsive'>
                <thead class='thead-default'>
                <tr>
                    <th>Produto</th>
                    <th>Valor unitario</th>
                    <th>Valor</th>
                    <th>Remover</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pedido.items.all %}
                <tr>
                    <td scope='row'>{{ item }}</td>
                    <td>R${{item.valor_unitario}}</td>
                    <td>R${{item.valor_total}}</td>
                    <td>
                    <form method='post' action='tirar_item'>
                        {% csrf_token %}
                            <input type='hidden' class='form-control' name='pedido' id='pedido{{pedido.id}}' value='1'>
                            <input type='hidden' class='form-control' name='remover_id' id='{{ item.pk }}' value='{{ item.pk }}'>

                                <button type='submit' name='deletar' class='btn btn-danger btn-sm'>Remover</button>

                    </form>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

            <H4> Valor total: R${{ pedido.valor_total }} <br> Unidades: {{pedido.unidades_total}} <br> Peso: kg {{pedido.peso}}</H4>



                <input name="" id="fechar" class="btn btn-primary" onclick="mudar_status()" type="button"
                       value="{% if pedido.status == True %} ABRIR PEDIDO {% else %}  FECHAR PEDIDO {% endif %}">

            </div>
            <br>

</div>
        </div>



    </div>


{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    setTimeout(function() {
                $("#alert").remove();
            }, 5000);
</script>
<script>
    function mudar_status() {
        $.ajax({
            type: "POST",
            url: "mudar_status",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (data) {
      $("#fechar").val(data.ativo)
      },

            error: function (data) {
                        // alerta caso tenha erros
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    },

        }).done(function(e){
            console.log("done")

        })
        .fail(function(e){
            console.log('error')
            console.log(e)
        })

    }

</script>

