{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<div class="container border my-3">
    <div class="row p-3 bg-secondary text-white">
        <div class="h3">Ola {{ request.user.username }}!
            <br>
            Total de vendas pagas no mes R${{venda}}
            <br>
            Valor a receber de comição R${{comicao_pendente}}
        </div>
    </div>
    <div class=" my-3">
    <a class="btn btn-primary" href="/cadastro_com_endereco" role="button">Cadastrar cliente completo</a>
    <a class="btn btn-primary" href="/cadastro_sem_endereco" role="button">Cadastrar cliente sem endereço</a>
    </div>
    {% include 'partials/_clientes.html' %}

    {% include 'partials/_tabela_pedidos.html' %}

    {% include 'partials/_tabela_produtos_mais_vendidos.html' %}


</div>


<script>
$(document).ready(function () {
    $('#tabela_pedido').DataTable();
});

</script>

<script>
$(document).ready(function () {
    $('#tabela_cliente').DataTable();
});

</script>


{% endblock %}