{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<div class="container mt-3">
    <div id="print">
        {% for cliente in clientes %}
        <div class="row">
            <div class="col-7">
                <h5>XFLAVORS</h5>
                <h6>VENDEDOR: {{ cliente.vendedor }}</h6>
                {% endfor %}
                <h6>Data do pedido: {{ pedidos.created_at|date:" d/m/Y" }}</h6>
            </div>
            <div class="col-5">

                <h5>CLIENTE: {{ pedidos.endereco.cliente.nome}}</h5>
                <h6>CPF: {{ pedidos.endereco.cliente.cpf }}</h6>
                <h6>Logradouro: {{ pedidos.endereco.logradouro}} Numero: {{ pedidos.endereco.numero}}</h6>
                <h6>Bairro: {{ pedidos.endereco.bairro}} Estado: {{ pedidos.endereco.uf}}</h6>
                <h6>cep: {{ pedidos.endereco.cep}}</h6>
                <h6>complemento: {{ pedidos.endereco.complemento}}</h6>


            </div>
        </div>


        <br><br>
        <h2>PEDIDO#{{ pedidos }}</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            {% if item0mg %}
            <thead class="thead-dark">
            <th>JUICES 0 MG</th>
            </thead>
            {% endif %}
            <tbody class="table-group-divider">
            {% for item in item0mg %}
            <tr>

                <td>{{ item.produto.nome }} {{ item.produto.mg }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>

            {% endfor %}
            {% if item3mg %}
            <thead class="thead-dark">
            <th>JUICES 3 MG</th>
            </thead>
            {% endif %}

            <tbody class="table-group-divider">
            {% for item in item3mg %}
            <tr>

                <td>{{ item.produto.nome }} {{ item.produto.mg }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>
            {% endfor %}
            {% if item6mg %}
            <thead class="thead-dark">
            <th>JUICES 6 MG</th>
            </thead>
            {% endif %}
            <tbody class="table-group-divider">
            {% for item in item6mg %}
            <tr>

                <td>{{ item.produto.nome }} {{ item.produto.mg }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>
            {% endfor %}
            {% if item9mg %}
            <thead class="thead-dark">
            <th>JUICES 9 MG</th>
            </thead>
            {% endif %}
            <tbody class="table-group-divider">
            {% for item in item9mg %}
            <tr>

                <td>{{ item.produto.nome }} {{ item.produto.mg }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>
            {% endfor %}
            {% if item12mg %}
            <thead class="thead-dark">
            <th>JUICES 12 MG</th>
            </thead>
            {% endif %}
            <tbody class="table-group-divider">
            {% for item in item12mg %}
            <tr>

                <td>{{ item.produto.nome }}{{ item.produto.mg }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <H6 class="my-3 text-right">
                    Valor total: R${{ pedidos.valor_total }} <br>
                    Unidades: {{pedidos.unidades_total}} <br>
                    Peso: kg {{pedidos.peso}}</H6></div>
        </div>


    </div>

    <input name="" id="" onclick="printDiv('print')" class="btn btn-primary" type="button" value="Imprimir">
    <!--<input type="button" onclick="printDiv('print')" value="print a div!" />-->
</div>
<script>



function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}


</script>


{% endblock %}


