{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--<div id="alert_placeholder"></div>-->
<!--{% if messages %}-->
<!--{% for message in messages %}-->
<!--<div class="alert alert-{{message.tags}}" role="alert">-->

<!--    {{ message }}-->

<!--</div>-->
<!--{% endfor %}-->
<!--{% endif %}-->

<div class="container mt-3">
    <div class="row">
        <div class="col-7">
            <h3 class="bg-danger p-3 text-center" >PRODUTOS</h3>
            <table class="table table-striped table-inverse table-responsive">

                <thead class="thead-default">
                <tr>
                    <th>Produto</th>
<!--                    <th>Valor</th>-->
                    <th>Qntd</th>
                    <th>Mg</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for produto in produtos0mg %}
                    {% include 'partials/_produto_tabela_mg.html' %}
                {% endfor %}
                </tbody>
            </table>
            </div>

            <div class='col-5'>
                <div id='pedido_carrinho'>

                    {% include 'partials/_items.html' %}

                </div>

            </div>



    </div>
</div>

{% endblock %}


